{% load staticfiles %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static 'geoevent/js/libs/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'geoevent/js/jquery.datetimepicker.js' %}"></script>

<script type="text/javascript" src="{% static 'geoevent/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'geoevent/js/holder.js' %}"></script>
<script type="text/javascript" src="{% static 'geoevent/js/plugins/bootstrap-multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'geoevent/js/plugins/jquery.jscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'geoevent/js/app.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'geoevent/js/plugins/chosen.jquery.min.js' %}"></script> -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50974108-1', 'auto');
  ga('send', 'pageview');
</script>